# Ignore Python cache and virtual environment files
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
.env
.venv/
venv/
env/

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore OS files
.DS_Store
Thumbs.db

# Ignore logs and temporary files
*.log
*.tmp
*.bak

# Ignore IDE/project files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

*.ipynb
*.csv
slides
First two months
ctkDICOM-Database

# Python scripts
receiver_server.py
dicom2nifti_2.py
radgraph_cleaning.py
train.py
meow.py
test.py
psma_models

Yazdan_files
cache
cache2
cache3
cache_gpt
cache_radgraph
radgraph_embed_old.py
*.txt
*.docx
*.xlsx
*.json*